.media {
  display: flex;
  flex-direction: column;
  border: 1px solid black;
  flex: 0.8;
}

.media__bottom {
  display: flex;
}

.media__bottom__left {
  flex: 0.8;
}
.media__bottom__right {
  flex: 0.2;
}

.media__bottom__left__active {
  flex: 1;
}
.media__bottom__right__active {
  display: none;
}
