.userBar {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  background: #f87575;
  color: white;
  font-weight: 400;
}

.userBar__left {
  display: flex;
}

.userBar__left__left > .MuiAvatar-root {
  width: 50px;
  height: 50px;
  border: 1px solid #f9f9f9;
}

.userBar__left__right {
  margin-left: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.userBar__right {
  display: flex;
  justify-content: center;
  align-items: center;
}

.userBar__right > button {
  width: 25px;
  font-size: 20px;
  font-weight: 800;
  border-radius: 100px;
  outline-width: 0px;
  border-width: 0px;
}
